body{
    margin: 0;
}

.PilzeSagenHallo h1{
    font-size: 40px;
    text-align: center;
}
.PilzeSagenHallo p{
    color:lightcoral;
    font-size: 25px;
    padding-left: 30px;

}
.Pilzkönigreich h1{
    font-size: 40px;
    text-align: center;
}
.Pilzkönigreich p{
    color:lightcoral;
    font-size: 25px;
    padding-left: 30px;

}
.Pilzadresse h1{
    font-size:20px;
    text-align:center;
}
.Pilzadresse p{
    font-size:15px;
    text-align:center;
    background-color: rgb(240, 113, 119);
}
.Pilzstiehl{
    height:10px;
    width:100%;
    background-color: bisque;
}
.Pilzboden{
    height:5px;
    width:100%;
    background-color: rgb(112, 199, 112);
}
