.Welcome h1{
    font-size: 40px;
    text-align: center;
    padding-left:20px;
}
.Welcome p{
    color:lightcoral;
    font-size: 25px;
    padding-left: 30px;

}
.Impressum h1{
    font-size:20px;
    text-align:center;
    padding-left:30px;
}
.Impressum p{
    font-size:15px;
    text-align:center;
    padding-left:30px;
    background-color: antiquewhite;
}