.Welcome h1{
    font-size: 40px;
    text-align: center;
    padding-left:20px;
}
.Welcome p{
    color:lightcoral;
    font-size: 25px;
    padding-left: 30px;

}
.Impressum h1{
    font-size:20px;
    text-align:center;
    padding-left:30px;
}
.Impressum p{
    font-size:15px;
    text-align:center;
    padding-left:30px;
    background-color: rgb(240, 113, 119);
}
.Impressum div.kreis{
    width:5px;
    height: 5px;
    color:white;
    border-radius: 5px/5px;
    background-color: white;
}
.Pilzstiehl{
    height:10px;
    width:100%;
    background-color: bisque;
}
.Pilzboden{
    height:5px;
    width:100%;
    background-color: rgb(112, 199, 112);
}